body {
    background-color: #fbefda;
    margin: 0%;
    margin-bottom: 10px;
    background-image: url(./img/champagnemainbg.jpg);
    background-size: cover;
}

.text-container{
    max-width: 600px;
    margin: 0;
    margin-left: 20px;
    padding: 30px;
    background-color: #894e32;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}

.header-container {
    max-width: 600px;
    margin-left: 20px;
    padding: 30px;
    border-radius: 10px;
}

#slogan {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 80px;
    font-weight: bold;
    color: #975233;
}

.text-header {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.text-body {
    font-size: 20px;
    color: white;
    text-align: justify;
}

.form-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.form-input:focus{
    outline: none;
    background-color: bisque;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

#login {
    display: block;
    width: 80px;
    padding: 10px 20px;
    color: white;
    background-color: #894e32;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 18px;
}

.button {
    display: block;
    width: 100px;
    padding: 10px 20px;
    margin-left: 200px;
    color: white;
    background-color: #975233;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 18px;
}

.button:hover {
    background-color: #bf6541;
}

.homepage {
    color: white;
    text-align: center;
    font-size: 40px;
}

.navbar-color{
    background-color: #975233;
    margin: 0px;

}
.navbar {
    height: 120px;
    background-color: #975233;
    background-clip: border-box;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
  
.navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    color: black;
    text-transform: uppercase;
}